.spn-react-listado-productos {
    padding: 10px 20px;

    .spa-tabla-productos-total {
        font-size: 18px;
        font-weight: bold;
        text-align: center;

        border-bottom: 1px solid #ddd;
        border-top: 1px solid #ddd;
        padding: 20px 0px;
        margin-bottom: 20px;
    }
}