$black: #000;
$grayMediumTwoColor: #eee;
$white: #fff;
$errorColor: #905;
$grayColorLight: #ccc;
$darkBlue: #292985;
$grayColor: #828181;
$lightBlue: #256def;

$font-size-base: 14px;

$tablet-width: 720px;
$desktop-width: 1200px;