@import "../../../globalCSS/Constants.scss";

.react-campoTexto {
    width: 100%;

    /* @media (max-width: 720px) {                
        width: 100%;
        max-width: 100%;                  
    } */
    .react-campoTexto-grupo {
        label {
            color:$black;
            font-size: $font-size-base;
            font-weight: bold;
            display: flex;    
        }

        .react-campoTexto-grupo-input {
            position: relative;
            display: flex;
            justify-content: center;
            /* @include flex__start-center; */

            .newInputUINormal {
                /* border: 1px solid $grayMediumTwoColor; */
                background: $white;
                border-radius: 2px;
                padding: 10px 32px 10px 10px;
                width: 100%;
                margin: 0;
                /* height: 48px; */
                color:$black;
                font-size: $font-size-base;
                border: 0px;
                border-bottom: 1px solid #000;

                &:focus {
                    background-color: $white;
                    outline: 2px solid;
                    outline-color: $black;
                    outline-offset: -2px;
                }
            }

            i.icon-new-ocultar, i.icon-new-mostrar { 
                position: absolute; 
                right: 16px; 
                cursor: pointer;
            } 

            svg.svg-inline--fa {
                position: absolute; 
                right: 16px;
                top: 10px;
                cursor: pointer;
            }
        }
        
        
    }

    .react-campoTexto-grupo.errorCampo {
        .react-campoTexto-grupo-input {           
            .newInputUINormal {
                    background: rgba(224,62,82,0.15);
                    border: 1px solid $errorColor;
                }           
        }
    }

    .campo__Disabled.react-campoTexto-grupo-input {
        .newInputUINormal {
            background-color: $grayColorLight;
            cursor: not-allowed;
        }
    }
    
}
