.spn-react-list-products {
    padding: 10px 20px;

    .spa-table-products-total {
        font-size: 18px;
        font-weight: bold;
        text-align: center;

        border-bottom: 1px solid #ddd;
        border-top: 1px solid #ddd;
        padding: 20px 0px;
        margin-bottom: 20px;
    }
}