@import "../../globalCSS/Constants.scss";

.spa-tabla-contenedor-productos {
    display: flex;
    flex-wrap: wrap;
    padding: 6px;
    justify-content: flex-start;
    
    .spa-tabla-productos-producto {
        width: 50%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 16px;

        @media (min-width: $tablet-width) {
            width: 33%;           
        }

        .spa-tabla-contenedor-imagen {
            position: relative;           
            margin: 0 auto;
            height: 120px;
            overflow: hidden;

            @media (min-width: $tablet-width) {
                height: 200px;
            }

           
        }        

            img {
                
                max-width: 120px;
                @media (min-width: 354px) {
                    max-width: calc(100%);
                }
                @media (min-width: $tablet-width) {
                    max-width: 200px; 
                }

                @media (min-width: $desktop-width) {
                    max-width: 350px; 
                }
            } 
        
        .spa-tabla-productos__nombre {
            margin-top: 2px;
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 0;
        }

        .spa-tabla-productos__categoria {
            margin-top: 2px;
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 20;
        }

        .spa-tabla-productos__precio {
            margin-top: 2px;
            font-size: 14px;            
            margin-bottom: 0;
        }


        
    }
}